{% extends "base.j2.html" %}

{% block page_title %}
    Development Logs Dashboard
    <!-- TODO: Put title from a configuration here -->
{% endblock %}

{% block page_content %}
    {% for monitor in server.monitors %}
          <div class="card mb-12" id="monitor_{{ monitor.monitor_id }}">
                <div class="card-header">
                    <i class="fa fa-stream fa-fw"></i> {{ monitor.source_spec }}
                </div>
                <div class="card-body">
                    <div class="log_line" id="monitor_{{ monitor.monitor_id }}_lastline">

                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}


{% block page_js %}
    <script src="/js/lastline-update.js"></script>
    <script>
        // Create object to watch for new lines and start
        var updater = LogLineUpdater();
        updater.updateLastLine();
    </script>
{% endblock %}