{% extends "base.j2.html" %}

{% block page_title %}
    Development Logs Dashboard
    <!-- TODO: Put title from a configuration here -->
{% endblock %}

{% block page_content %}
    {% for monitor in server.monitors %}
          <div id="monitor_{{ monitor.monitor_id }}" class="monitor_lastline">
            <div>
                <i class="fa fa-stream fa-fw"></i> <a href="log.html?monitor_id={{ monitor.monitor_id }}">{{ monitor.source_spec }}</a>
            </div>
            <div>
                <div class="log_line" id="monitor_{{ monitor.monitor_id }}_lastline">
                    &nbsp;
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block page_js %}
    <script src="/js/lastline-update.js"></script>
    <script>
        // Create object to watch for new lines and start
        var updater = LogLineUpdater();
        updater.updateLastLine();
    </script>
{% endblock %}